$menu-bar-width: 50px;
$menu-panel-width: 350px;
$panel-title-bar-height: 25px;
$info-panel-width: 300px;
$menu-bar-button-width: 40px;
$panel-toobar-height: 40px;
$panel-toobar-button-side-length: 30px;
$panel-toolbar-font-size: 15px;
$global-background-color: #ebf1f5;
